{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h4 class="mb-0">List of Priorities</h4>
                    <a href="{% url 'priority-add' %}" class="btn btn-success"><i class="fa fa-plus me-2"></i>Add Priority</a>
                </div>
                
                <div class="row mb-4">
                    <div class="col-md-6">
                        <form class="d-flex">
                            <input class="form-control bg-dark border-0 me-2" type="search" placeholder="Search priorities..." aria-label="Search">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </form>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Created At</th>
                                <th scope="col">Updated At</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for priority in priorities %}
                            <tr>
                                <td>{{ priority.name }}</td>
                                <td>{{ priority.created_at|date:"M d, Y" }}</td>
                                <td>{{ priority.updated_at|date:"M d, Y" }}</td>
                                <td>
                                    <a href="{% url 'priority-update' priority.id %}" class="btn btn-primary btn-sm">Edit</a>
                                    <a href="{% url 'priority-delete' priority.id %}" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">No priorities found.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                {% include 'includes/pagination.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}